@using Yizhou.Website;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" href='@this.Url.Content("~/css/smoothness/jquery-ui-1.8.23.custom.css")' rel="stylesheet" />
	<link type="text/css" href="@this.Url.Content("~/css/smoothness/jquery-ui-tree.css")" rel="stylesheet" />
    <link type="text/css" href="@this.Url.Content("~/css/webui.css")" rel="stylesheet" />
	<link type="text/css" href='@this.Url.Content("~/css/default.css")' rel="stylesheet" />
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-1.8.0.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-ui-1.8.23.custom.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/json.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/bootstrap.min.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/webui.min.js")'></script>
	<script type="text/javascript" src="@this.Url.Content("~/js/jquery.ui.pager.js")"></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-extend.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/jquery-validate.js")'></script>
	<script type="text/javascript" src='@this.Url.Content("~/js/userInfoMoidfyDialog.js")'></script>
    <script language="javascript" type="text/javascript">
        $.baseUrl = "@this.Url.Content("~/")";
    </script>
</head>

<body style="padding-top: 60px;">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">客户信息管理</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@this.Url.Action("Index", "Dingdan")" >订单管理</a></li>
            <li><a href="@this.Url.Action("Index", "Kehu")" >客户管理</a></li>
            <li><a href="@this.Url.Action("Index", "DingdanMingxi")" >订单明细</a></li>
            <li><a href="@this.Url.Action("Index", "Shoukuan")" >收款明细</a></li>
            <li><a href="@this.Url.Action("Index", "Chanpin")" >产品管理</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="linkCurrentUserInfo" href="#" class="navbar-link">@WebHelper.CurrentUserInfo.Name</a></li>
            <li><a href="@this.Url.Action("SignOut", "Login")" class="navbar-link">退出</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <div id="userInfoMoidfyDialog">
        @{this.Html.RenderPartial("UserInfoMoidfyDialog");}
    </div>
</body>
</html>
<script type="text/javascript">
    var userInfoMoidfyDialog = $("#userInfoMoidfyDialog").userInfoMoidfyDialog();
    $("#linkCurrentUserInfo").click(function () {
        userInfoMoidfyDialog.userInfoMoidfyDialog("modify");
        return false;
    });
</script>